doctype html
html(lang='en')
  head
    //- css
    link(rel="stylesheet" href="stylesheets/map.css")
    link(rel="stylesheet" href="stylesheets/nav.css")
    link(rel="stylesheet" href="stylesheets/footer.css")

    //- js
    script(src="javascripts/map.js")

    //- bootstrap setup
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    
    //- jquery
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    //- search bar
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    //- center website 
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Student Profiles
    script.
      var length = #{length};
      var aLength = #{aLength};
      var i = 0;
      var tempName = "#{universityName}".split(/\,+(?!\ )/);
      var tempLat = "#{universityLat}".split(/\,+(?!\ )/);
      var tempLng = "#{universityLng}".split(/\,+(?!\ )/);
      var tempAEN = "#{alumniEnglishName}".split(/\,+(?!\ )/);
      var tempAU = "#{alumniUniversity}".split(/\,+(?!\ )/);
      var tempAE = "#{alumniEmail}".split(/\,+(?!\ )/);
      var tempAIU = "#{alumniInstagramUsername}".split(/\,+(?!\ )/);
      var tempAGY = "#{alumniGraduationYear}".split(/\,+(?!\ )/);
      var tempAM = "#{alumniMajor}".split(/\,+(?!\ )/);
      var universityName = [];
      var universityLat = [];
      var universityLng = [];
      var alumniEnglishName = [];
      var alumniUniversity = [];
      var alumniEmail = [];
      var alumniInstagramUsername = [];
      var alumniGraduationYear = [];
      var alumniMajor = [];
      for(i in tempName){
        universityName[i] = tempName[i];
        universityLat[i] = tempLat[i];
        universityLng[i] = tempLng[i];
      }
      for(i in tempAEN){
        alumniEnglishName[i] = tempAEN[i];
        alumniUniversity[i] = tempAU[i];
        alumniEmail[i] = tempAE[i];
        alumniInstagramUsername[i] = tempAIU[i];
        alumniGraduationYear[i] = tempAGY[i];
        alumniMajor[i] = tempAM[i];
        if(alumniUniversity[i].slice(-1)==" "){
          alumniUniversity[i] = alumniUniversity[i].slice(0,-1);
        }
      }
      var features = [];
          var image = [];
          var icons = [];
      function initMap(){
          var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 42, lng: -96.65625}
          });
          for (let i = 0; i<length; i++){
            features[i]={
              type:universityName[i],
              position: new google.maps.LatLng(universityLat[i],universityLng[i]),
            };
            const img = new Image();
            img.src = 'images/universities/'+universityName[i]+'.png';
            image[i] = {
              url: "images/universities/"+universityName[i]+".png",
              scaledSize: new google.maps.Size(img.width/Math.sqrt(img.width*img.height/1200),img.height/Math.sqrt(img.width*img.height/1200))
            };
            icons[i] = {
              icon: image[i],
            };
          }
        // Create markers.
        for (let i = 0; i < length; i++) {
          const marker = new google.maps.Marker({
          position: features[i].position,
          icon: icons[i].icon,
          map: map,
          });
          marker.addListener("click", () => {
            map.setZoom(8);
            map.setCenter(marker.getPosition());
            const elements = document.getElementsByClassName("alumniBlock");
            while(elements.length > 0){
              elements[0].parentNode.removeChild(elements[0]);
            }
            var div = document.createElement("div");
            div.classList.add("alumniBlock");
            div.innerHTML = universityName[i];
            document.getElementById("sideShow").appendChild(div);
            for(let j = 0; j < aLength; j++){
              if(alumniUniversity[j] == universityName[i]){
                var div = document.createElement("div");
                div.classList.add("alumniBlock");
                div.innerHTML = alumniEnglishName[j]+ " "+ alumniEmail[j]+" "+alumniInstagramUsername[j]+" "+alumniGraduationYear[j]+" "+alumniMajor[j];
                document.getElementById("sideShow").appendChild(div);
              }
            }
            opensideShow();
          });
        }
        //add University List
        for(let i = 0; i < length; i++){
          var div = document.createElement("div");
          div.classList.add("universityBlock");
          div.id = (i);
          div.innerHTML = universityName[i];
          div.addEventListener('click', function (event) {
            map.setZoom(8);
            map.setCenter(features[i].position);
          });
          document.getElementById("universityList").appendChild(div);
        }      
      }
      function refresh(){
        window.location = window.location + '#loaded';
        window.location.reload();
      }

      window.onload = function() {
        document.getElementById("z-index").style.display = "none";
        if(!window.location.hash) {
          window.location = window.location + '#loaded';
          window.location.reload();
        }
        var biggestImg = new Image();
        biggestImg.src = "images/universities/Carnegie Mellon University.png";
        biggestImg.onload = function(){
          if(!window.location.hash) {
            refresh();
          }
        }  

      }
      
      
    
  body
    script.
        var loggedin = #{loggedin}
    if loggedin
      include login/usernav
    else
      include common/nav
    #map
    script(async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy8QR6hkmBw9pMJWs2XhY111wiGl5H3Sg&libraries=geometry&callback=initMap")
    #sideShow.sideShow
      a.closebtn(href='javascript:void(0)' onclick='closesideShow()') &times;
      .alumniBlock hello!
    #allUniversity
      .wrapper
        .search-input
          a(href='' target='_blank' hidden='')
          input(type='text' placeholder='Type to search..')
          .autocom-box
          //- here list are inserted from javascript
      #universityList
    
  
    
    script.
      // getting all required elements
      const searchWrapper = document.querySelector(".search-input");
      const inputBox = searchWrapper.querySelector("input");
      const suggBox = searchWrapper.querySelector(".autocom-box");
      let linkTag = searchWrapper.querySelector("a");
      let webLink;
      // if user press any key and release
      inputBox.onkeyup = (e)=>{
          let userData = e.target.value; //user enetered data
          let emptyArray = [];
          if(userData){
            for(i in universityName){
              for(j = 0; j < universityName[i].length; j++){
                if(universityName[i].toLocaleLowerCase().startsWith(userData.toLocaleLowerCase(),j)){
                  emptyArray.push(universityName[i]);
                  break;
                }
              }
            }
            for(i in emptyArray){
              console.log(emptyArray[i]);
            }
            emptyArray = emptyArray.map((data)=>{
                // passing return data inside li tag
                return data = `${data}`;
            });
            searchWrapper.classList.add("active"); //show autocomplete box
            showSuggestions(emptyArray);
            let allList = suggBox.querySelectorAll("li");
            for (let i = 0; i < allList.length; i++) {
                //adding onclick attribute in all li tag
                allList[i].setAttribute("onclick", "select(this)");
            }
          }else{
              searchWrapper.classList.remove("active"); //hide autocomplete box
          }
        if(emptyArray==""){
          for(i=0;i<length;i++){
            document.getElementsByClassName("universityBlock")[i].style.display = "block";
          }
        }
      }
      function select(element){
          let selectData = element.textContent;
          inputBox.value = selectData;
          searchWrapper.classList.remove("active");
      }
      function showSuggestions(list){

          for(j=0;j<length;j++){
            document.getElementsByClassName("universityBlock")[j].style.display = "none";
          }
          for(i in list){
            for(j=0;j<length;j++){
              if(universityName[j]==list[i]){
                document.getElementsByClassName("universityBlock")[j].style.display = "block";
                continue;
              }
            }
          }
      }
    include common/footer