doctype html
html(lang='en') 

  head
    //- css
    link(rel="stylesheet" href="stylesheets/index.css")
    link(rel="stylesheet" href="stylesheets/profile.css")
    link(rel="stylesheet" href="stylesheets/nav.css")
    link(rel="stylesheet" href="stylesheets/footer.css")
    link(rel="stylesheet" href="stylesheets/sidenav.css")

    //- bootstrap setup
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    
    //- jquery
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")

    //- js
    script(src="javascripts/index.js")
    script(src="javascripts/nav.js")

    
    //- center website 
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    //- google font set up
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet")

  body#main
    include ../common/nav
    #mySidenav.sidenav
      a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
      a.pcsidenav(href='#') Home 
      a.pcsidenav(href='#vision') Vision
      a.pcsidenav(href='#mission') Mission
      a.pcsidenav(href='#about') Features
      a.pcsidenav(href='#contactus') Contact
      include ../common/mbsidenav
    script.
        var user = "#{data}";
        var data = user.split(/\,+(?!\ )/);
        var status = "#{status}";
    .row
        .col-md-2
        .col-md-2
            .card#profileImageContainer(style="margin-top: 150px; width: 100%")
                .bg
                    img.card-img-top(src="/images/login/user.jpeg")
                .card-body
                    h4 Hi, #{name}
                    .card-title
                        a.btn.btn-primary.profileButton(href="/logout") Logout
            .card#blogContainer(style="margin-top: 20px; width: 100%")
                .card-body
                    h4 Blog Posts
                    .card-title
                        a.btn.btn-primary.profileButton(href="/dashboard") Dashboard
        .col-md-6
            .card(style="margin-top: 150px;")#storyboard
                .card-body
                    .card-title#profileTitle Profile Page
                    .card.mini
                        .card-body.miniCard
                            .card-text 👤&nbsp English Name: #{data[0]}
                    .card.mini
                        .card-body.miniCard
                            .card-text 😛&nbsp Last Name: #{data[1]}
                    .card.mini
                        .card-body.miniCard
                            .card-text 😙&nbsp First Name: #{data[2]}
                    .card.mini
                        .card-body.miniCard
                            .card-text 📫&nbsp Email: #{data[3]}
                    .card.mini
                        .card-body.miniCard
                            .card-text 📷&nbsp Instagram Account: #{data[4]}
                    .card.mini
                        .card-body.miniCard
                            .card-text 👩‍🎓&nbsp Graduation Year: #{data[5]}
                    .card.mini
                        .card-body.miniCard
                            .card-text 📚&nbsp Major: #{data[6]}
                    .card.mini
                        .card-body.miniCard
                            .card-text 🏫&nbsp University: #{data[7]}
                    
                    
                    if status
                        .card-text#status(style="color: green") Status: Authorized (We have authorized your account. You are one of us)
                    else
                        .card-text#status(style="color: red") Status: Unauthorized: (we haven't authorized your account yet.)
                    
                    .card-title#update
                        a.btn.btn-primary.profileButton(href="/add") Edit Profile
                    .card-title#phoneLogOut
                        a.btn.btn-primary.profileButton(href="/logout") log out
                    .card-title#phoneBlog
                        a.btn.btn-primary.profileButton(href="/dashboard") Blog Post Dashboard
        .col-md-2
    include ../common/footer
    //- script.
    //-     var image_url = "#{picture}";
    //-     const doc = document.getElementById("image");
    //-     doc.style.content = "url(#{picture})";
    

