doctype html
html(lang='en') 

  head
    //- css
    link(rel="stylesheet" href="stylesheets/index.css")
    link(rel="stylesheet" href="stylesheets/profile.css")
    link(rel="stylesheet" href="stylesheets/nav.css")
    link(rel="stylesheet" href="stylesheets/footer.css")

    //- js
    script(src="javascripts/index.js")

    //- bootstrap setup
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    
    //- jquery
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")

    //- center website 
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    //- google font set up
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet")

  body#main
    include ../login/usernav
    script.
        var user = "#{data}";
        var data = user.split(/\,+(?!\ )/);
        var status = "#{status}";
    .row
        .col-md-2
        .col-md-2
            .card(style="margin-top: 200px; width: 200px")
                .bg
                    img#image.card-img-top
                .card-body
                    .card-title Hi #{name}
                    .card-title
                        a.btn.btn-primary(href="/logout") Logout
        .col-md-6
            .card(style="margin-top: 200px;")#storyboard
                .card-body
                    .card-title#main-title Profile Page
                    .card-text EnglishName: #{data[0]}
                    .card-text Last Name: #{data[1]}
                    .card-text First Name: #{data[2]}
                    .card-text Email: #{data[3]}
                    .card-text Instagram Account: #{data[4]}
                    .card-text GraduationYear: #{data[5]}
                    .card-text Major: #{data[6]}
                    .card-text University: #{data[7]}
                    if status
                        .card-text(style="color: green") Status: Authorized: we have authorized your account. You are one of us
                    else
                        .card-text(style="color: red") Status: Unauthorized: we haven't authorized your account yet.
                    
                    .card-title
                        a.btn.btn-primary(href="/add") Update Profile
        .col-md-2
    script.
        var image_url = "#{picture}";
        const doc = document.getElementById("image");
        doc.style.content = "url(#{picture})";
    

